@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --font-mulish: "Mulish", sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.marquee-background {
  background-image: url("../../public/marquee-city.png");
  background-size: cover;
  background-repeat: repeat-x;
  animation: scrollBackground 200s linear infinite;
}

@keyframes scrollBackground {
  0% {
    background-position: 0px 0px;
  }
  100% {
    background-position: -24000px 0;
  }
}

.masonry-layout {
  column-count: 1; /* Default for small screens */
  column-gap: 1.5rem; /* Matches Tailwind gap-6 */
}

@media (min-width: 640px) {
  .masonry-layout {
    column-count: 2; /* Medium screens */
  }
}

@media (min-width: 1024px) {
  .masonry-layout {
    column-count: 3; /* Large screens */
  }
}
